@tailwind base;
@tailwind components;
@tailwind utilities;

.sub-menu {
    overflow: hidden;
    transition: height 300ms;

}

@font-face {
  font-family: "pixel";
  src: url("./font/Jersey25-Regular.ttf");
}